{% extends "base.html" %} {% block content %}
<div class="form">
	<form>
		<div class="form-group">
			<label for="dealercode :">Dealer Code :</label>
			<input
				type="text"
				class="form-control"
				id="dealercode"
				name="dealercode"
				placeholder="2233"
			/>
			<label for="dealername :">Dealer Name :</label>
			<input
				type="text"
				class="form-control"
				id="dealername"
				name="dealername"
				placeholder="Dealer Sdn. Bhd..."
			/>
			<label for="dealerregion :">Region :</label>
			<input
				type="text"
				class="form-control"
				name="dealerregion"
				id="dealerregion"
				placeholder="Zipcode..."
			/>
			<label for="dealercontact :">Contact :</label>
			<input
				type="text"
				class="form-control"
				name="dealercontact"
				id="dealercontact"
				placeholder="Contact Person ..."
			/>
			<label for="dealerphone :">Phone Number :</label>
			<input
				type="tel"
				class="form-control"
				name="dealerphone"
				id="dealerphone"
				placeholder="(03)-345-6789"
				pattern="([0-9]{2})-[0-9]{3}-[0-9]{4}"
			/>
			<br />
			<label>Default :</label>
			<input type="radio" id="dealerdefaultYes" value="T" name="default" />
			<label for="dealerdefaultYes">Yes</label>
			<input
				type="radio"
				id="dealerdefaultNo"
				value="F"
				name="default"
				checked
			/>
			<label for="dealerdefaultNo">No</label>
			<br />
			<div class="form-group">
				<button type="submit" id="register" class="btn btn-primary">
					Register
				</button>
			</div>
		</div>
	</form>
</div>

<script src="/static/js/jquery-3.5.0.js"></script>

<script>
	$(document).ready(function () {
		$('#register').on('click', function () {
			var defaultString = 'F';

			if ($('#dealerdefaultYes').is(':checked')) {
				defaultString = 'T';
			}

			var info = {
				dealer_code: $('#dealercode').val(),
				dealer_name: $('#dealername').val(),
				dealer_region: $('#dealerregion').val(),
				dealer_contact: $('#dealercontact').val(),
				dealer_phone: $('#dealerphone').val(),
				default: defaultString,
			};

			$.ajax({
				type: 'POST',
				url: '/dealer_register',
				data: info,
				dataType: 'json',
				success: function (result, textStatus, jqXHR) {
					alert('Message : ' + result.message);
				},
				error: function (jqHXR, textStatus, errorThrown) {
					alert(textStatus + ' : ' + jqXHR.status + ' ' + errorThrown);
					//                    alert("An error occurred: " + xhr.status + " " + xhr.statusText);
				},
			});

			$('#dealercode').val('');
			$('#dealername').val('');
			$('#dealerregion').val('');
			$('#dealercontact').val('');
			$('#dealerphone').val('');
			$('#dealerdefaultYes').val('');

			event.preventDefault('');
		});
	});
</script>
{% endblock %}
